## Basic Operations with C/C++: Arithmetic and Logicals

| Code | Description |
| :-- | :-- |
| `1 + 2 * 3 / 5`  |  Arithmetic Operators |
| `10 % 3`  | Remainder after Integer Division Operator  |
| `(3 > 5) == (2 <= 5) != (6 >= 4)`  |  Comparison Operators |
| `12` | `int` (integer) |
| `12.0`  | `double` decimal value |
| `true` | `bool` logical value |

What is three plus five?

In [1]:
3 + 5

8

What is six times eight?

In [2]:
6 * 8

48

What is 9 divided by 5?

In [3]:
9 / 5

1

How many whole times does 20 go into 3?  (in other words, integer division 20 divided by 3)

In [4]:
9.0 / 5.

1.8000000

What is the remainder after dividing 20 by 3?

In [6]:
9.0 / 5.0

1.8000000

What is `4 + 5 * 2`?  Does C++ follow the right order of operations?

In [1]:
4 + 5 * 2

14

Is `0.1 + 0.2 - 0.3` equal to zero?

In [5]:
(0.1 + 0.2 - 0.3) == 0

false

Is `0.1f + 0.2f - 0.3f` equal to zero?

In [4]:
(0.1f + 0.2f - 0.3f) == 0

true

Is four times six greater than three times seven?

In [12]:
2 == 2

true

Is `true` equal to `1` in C++?

In [6]:
true == 1

true

Is `false` equal to `0` in C++?

In [7]:
false == 0

true

## Coding with Static Types: Identifiers (a.k.a. "Variables")

| Code | Description |
| :-- | :-- |
| `int x;` | "Make a new identifier called `x`, which references an integer in memory." |
| `x = 42;` | "Store 42 at where the (previously-created) identifier `x` is stored." |
| `int x = 42;` | "Make a new identifier called x, which references an integer in memory, **and** store 42 there." |
| `short x = 10` |  |b

In [8]:
int x = 3;
x

3

In [45]:
short y = 32767;
y

32767

In [49]:
short y = -32768;
y

-32768

In [54]:
ushort y = 0;
y

0

In [58]:
ushort y = 65535;
y

65535

In [21]:
int *y = &x;
y

@0x7ffeafe92108

In [40]:
char a = 126;
a

'~'

In [27]:
short z = 40000;
z

input_line_57:2:12: warning: implicit conversion from 'int' to 'short' changes value from 40000 to -25536 [-Wconstant-conversion]
 short z = 40000;
       ~   ^~~~~

-25536

In [44]:
typeid(z).name()

"s"

## Introduction to Strings

| Code                           | Description                           |
| :-- | :-- |
| `char myString[10] = "Hello";` | Declares a string with 'Hello'.       |
| `cout << myString;`            | Prints the string.                    |
| `myString[4] = 'y';`           | Modifies the last character to 'y'.   |
| `strlen(myString);`            | Finds the length of the string.       |
| `strcpy(myString, "Hi");`      | Copies 'Hi' into the string.          |

Declare a string and initialize it with your name.

In [47]:
char myName[5] = "Nick";
myName

"Nick"

In [52]:
strcpy(myName, "Joe");
myName

"Joe"

In [53]:
strcpy(myName, "Joseph");
myName

"Josep"

In [59]:
myName[0]

'J'

Print the length of the above string.

In [60]:
strlen(myName)

6

In [63]:
char str[50];
int age = 30;
sprintf(str, "Age: %d", age); // str becomes "Age: 30"

7

In [68]:
char gg[10] = "abcdefg";
gg

"abcdefg "

In [73]:
char hh[15] = "zyxwvutsrq";
hh

"zyxwvutsrq   "

In [71]:
strcpy(gg, hh)

"zyxwvutsrq"

In [72]:
hh

" yxwvutsrq   "

In [74]:
gg

"zyxwvutsrq"

Change the first character of the string to 'A'.

In [75]:
gg[0] = 'A';
gg

"Ayxwvutsrq"

In [76]:
gg[4] = 'G';
gg

"AyxwGutsrq"

In [79]:
bool result = strcmp(hh, gg);
result

true

Concatenate another string to your name string.

In [80]:
strcat(hh, gg)

"zyxwvutsrqAyxwGutsrq"

In [81]:
char ff[] = "World";
ff

"World"

In [85]:
ff[strlen(ff)-1] = 'A';
ff

"WorlA"

In [86]:
char bb[4] = "abcd";
bb

input_line_166:2:15: error: initializer-string for char array is too long
 char bb[4] = "abcd";
              ^~~~~~

Interpreter Error:

In [89]:
char bb[4] = 'abcd';
bb

input_line_170:2:7: error: array initializer must be an initializer list or string literal
 char bb[4] = 'abcd';
      ^

Interpreter Error:

In [90]:
char bb[4] = {'a', 'b', 'c', 'd'};
bb

"abcd"

Check if a character (e.g., 'e') is present in the string.

Convert all characters in the string to uppercase.

Extract a substring from the string.

8. Reverse the string.

9. Replace all occurrences of a character (e.g., 'a') with another character (e.g., 'o').

Write a function that takes a string and an integer n and prints the first n characters of the string.

#
# Writing Functions in C++

Functions are a fundamental part of C++ programming, allowing you to encapsulate reusable code. This section provides exercises to practice writing and using fions.unct

 **Exercises**: For each exercise, write a function as described. Test your function with appropriate function calls in your main program to ensure it works as expected.

**Example**: Write a function named `add` that takes two integers as parameters and returns their sum.

In [100]:
#include<iostream>
using namespace std;

In [133]:
// Function
int add(int x, int y) {
    return x + y;
}

// Usage
add(3, 5)

8

Write a function named `mul` that takes two integers as parameters and returns their product.

In [132]:
// Function
int mul(int x, int y) {
    return x * y;
}

// Usage
mul(3, 2)

6

Write a function named `isEven` that takes an integer and returns `true` if the number is even and `false` otherwise.  (*Note*: the `%` operator for calculating remainders is useful here.)

In [144]:
bool isEven(int x) {
    return (x % 2) == 0;
}

isEven(5)

false

 Write a function named `toSeconds` that takes an integer representing a number of hours, an integer representing a number of minutes, and an integer representing a number of seconds, and returns the total number of seconds.

In [152]:
int toSeconds(int hours, int minutes, int seconds){
    return hours * 60 * 60 + minutes * 60 + seconds;
}

toSeconds(1, 2, 5)

3725